h1 {
    font-weight: inherit;
    font-size: inherit;
}
.from-right {
    display: none;
}
.start-left {
    margin-left: 1px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 56px;
}
.section-1 {
    margin-top: 146px;
}
.section-2 {
    margin-top: 62px;
}
.selector {
    height: 7vw;
    background-color: #F8CFE3;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selector-1, .selector-2 {
    width: 17vw;
    display: flex;
    align-items: center;
}

.level-text {
    font-size: 1.3em;
    margin-left: -50px;
}

.book-section {
    margin-top: 100px;
    background-color: #F8CFE3;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 70%;
}

.book-title {
    margin-left: 40px;
}

.flag {
    width: 120px;
    height: 60px;
}

.no-display {
    display: none;
}

@media (max-width: 2155px) {
    .book-title {
        font-size: 3vw;
    }
}

@media (max-width: 1400px) {
    .selector-1, .selector-2 {
        width: 20vw;
    }
}

@media (max-width: 1090px) {
.book-section {
    margin-top: 20px;
}
    .flag {
        width: 8vw;
        height: 4vw;
    }
    .level-text {
        font-size: 36px;
    }
}

@media (max-width: 810px) {
    .book-section {
        display: none;
    }
}

@media (max-width: 700px) {
    .from-right {
        display: block;
    }
    .selector {
        background-color: inherit;
        border: none;
        justify-content: center;
    }
    .selector-1, .selector-2 {
        align-items: baseline;
    }
    .space {
        width: 50px;
    }
    .section-1 {
        margin-top: 50px;
    }
    .section-2 {
        margin-top: 20px;
    }
    .level-text {
        font-size: 32px;
    }
}

@media (max-width: 570px) {
    .section-1 {
        margin-top: 20px;
    }
    .level-text {
        font-size: 28px;
    }
}

@media (max-width: 410px) {
    .section-1 {
        margin-top: 0;
    }
    .level-text {
        font-size: 26px;
    }
}