.start-row {
    display: flex;
}

.start-column-1, start-column-1 {
    height: 52vw;
    float: left;
}

.start-column-1 {
    width: 50%;
    background-color: #FA9293;

}

.start-column-2 {
    width: 50%;
    background-image: url("notepad.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.right-group-left {
    display: none;
}

@media (max-width: 700px) {
    .start-column-2 {
        display: none;
    }

    .start-column-1 {
        width: 100%;
    }
}

@media (max-width: 4000px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 7vw;
    }
}

@media (max-width: 2000px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 10vw;
    }
}

@media (max-width: 1500px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 12vw;
    }
}

@media (max-width: 1220px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 12vw;
    }
}

@media (max-width: 1150px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 15vw;
    }
}

@media (max-width: 890px) and (max-height: 1000px) {
    .right-group-right {
        margin-top: 18vw;
    }
}