@font-face {
    font-family: "Bruno Ace";
    src: url("/public/fonts/Bruno Ace Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Caudex";
    src: url("/public/fonts/Caudex-Regular.ttf") format("truetype");
}

.left-group {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.logo-wrapper {
    margin: 0;
    background-color: #FA9293;
    width: 170px;
    height: 118px;
}

.logo-img {
    margin: 0 25px;
    width: 170px;
    height: 100px;
}

.start-text-wrapper {
    width: 66%;
}

.start-text {
    text-align: center;
    font-family: "Caudex";
    font-size: 48px;
    color: black;
    font-weight: 400;
    word-break: break-word;
}

@media (max-width: 1690px) {
    .start-text-wrapper {
        width: 55%;
    }
    .start-text {
        font-size: 42px;
    }
}

@media (max-width: 1130px) {
    .start-text-wrapper {
        width: 45%;
    }
    .start-text {
        font-size: 40px;
    }
}

@media (max-width: 720px) {
    .start-text {
        display: none;
    }
}

@media (max-height: 1000px) {
    .logo-wrapper {
        height: 100px;
    }
}