.start-block {
    margin-top: 146px;
    height: 16vw;
    background-color: #F8CFE3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.begin {
    font-family: "Bruno Ace", sans-serif;
    font-size: 3.5vw;
    color: #52052C;
    margin-bottom: 85px;
    margin-left: 3.5vw;
}

.begin-button {
    width: 12vw;
    height: 3vw;
}

@media (max-width: 2155px) {
    .start-block {
        height: 18vw;
    }
}

@media (max-width: 1090px) {
    .begin {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .start-block {
        margin-top: 0;
        border: none;
    }
    .begin {
        font-size: 6vw;
    }
}

@media (max-height: 900px) {
    .start-block {
        margin-top: 46px;
    }
}

@media (max-width: 570px) {
    .start-block {
        height: 100%;
        background-color: inherit;
        margin-top: 40px;
    }
    .begin-button {
        display: none;
    }
}