p {
    margin: -5px;
}

.buttons-element-one {
    margin-top: 20px;
    float: right;
}

.img-button {
    width: 240px;
    height: 55px;
}

.button-one {
    position: relative;
}

.next-text-btn {
    position: absolute;
    top: 8px;
    width: 240px;
}

.next-ref-btn {
    font-family: "Courier Prime", serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 980px) {
    .img-button{
        transform: translateX(0);
    }
}