.final-support {
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 400;
}

.visible-final {
    margin: auto;
    max-width: 2120px;
    height: 90px;
    background-color: #F8CFE380;
    position: relative;
}

.wrapper-final {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 2060px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag-final {
    width: 120px;
    height: 55px;
}

.level {
    padding-right: 90px;
}

.invisible {
    display: none;
}

@media (max-width: 2560px) {
    .visible-final {
        max-width: 1760px;
    }

    .wrapper-final {
        max-width: 1700px;
    }
}

@media (max-width: 2300px) {
    .visible-final {
        max-width: 1560px;
    }

    .wrapper-final {
        max-width: 1500px;
    }
}

@media (max-width: 2000px) {
    .visible-final {
        max-width: 1360px;
    }

    .wrapper-final {
        max-width: 1290px;
    }
}

@media (max-width: 1760px) {
    .visible-final {
        max-width: 1160px;
    }

    .wrapper-final {
        max-width: 1090px;
    }
}

@media (max-width: 1650px) {
    .visible-final {
        max-width: 1060px;
    }

    .wrapper-final {
        max-width: 990px;
    }
}

@media (max-width: 1400px) {
    .visible-final {
        max-width: 960px;
    }

    .wrapper-final {
        max-width: 890px;
    }
}

@media (max-width: 1180px) {
    .visible-final {
        max-width: 760px;
    }

    .wrapper-final {
        max-width: 690px;
    }
}

@media (max-width: 970px) {
    .visible-final {
        max-width: 660px;
    }
    .wrapper-final {
        max-width: 590px;
    }
}

@media (max-width: 880px) {
    .visible-final {
        max-width: 560px;
    }
    .wrapper-final {
        max-width: 490px;
    }
}

@media (max-width: 560px) {
    .visible-final {
        max-width: 460px;
    }
    .wrapper-final {
        max-width: 390px;
    }
}

@media (max-width: 420px) {
    .visible-final {
        max-width: 360px;
    }
    .wrapper-final {
        max-width: 290px;
    }
}