.final-main-wrapper {
    max-width: 2120px;
    height: 600px;
    margin: auto;
    position: relative;
}

.final-main {
    margin: auto;
    max-width: 2120px;
    height: 500px;
    background-color: #F6F6F6;
    border: 2px solid #FA9293;
    position: relative;
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-size: 94px;
    line-height: 72px;
    font-style: normal;
    text-align: center;
}

.internal {
    margin: auto;
    max-width: 1820px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-square {
    width: 530px;
    height: 440px;
    background-color: #F8CFE3;
    border-radius: 30px;
}

.internal-square {
    width: 430px;
    height: 400px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-img {
    margin-right: 70px;
    height: 88%;
    width: 88%;
}

.calendar-line {
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text-line {
    margin: 0;
    height: 90px;
    padding-bottom: 10px;
    color: #373737;
}

.indicator-line {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calendar-img {
    width: 220px;
    height: 220px;
}

.indicator-wrapper {
    background-color: #FBE7F1;
    width: 65%;
    height: 30px;
    display: flex;
    align-items: center;
}

.indicator {
    background-color: #099B08;
    height: 15px;
}

.indicator-name {
    font-family: Nokora, serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    color: #CF5866;
}

.calendar-start, .calendar-end {
    position: relative;
}

.date {
    position: absolute;
    top: 100px;
    left: 62px;
    font-family: Nokora, serif;
    font-weight: 900;
    font-size: 70px;
}

.date-start {
    color: #52052C;
}

.date-end {
    color: #FA9293;
}

.button-container {
    margin-top: 5px;
    margin-right: 60px;
}

@media (max-width: 2560px) {
    .final-main-wrapper {
        max-width: 1760px;
    }
    .final-main {
        max-width: 1760px;
    }
    .internal {
        max-width: 1520px;
    }
}

@media (max-width: 2300px) {
    .final-main-wrapper {
        max-width: 1560px;
    }
    .final-main {
        max-width: 1560px;
    }
    .internal {
        max-width: 1320px;
    }
}

@media (max-width: 2000px) {
    .final-main-wrapper {
        max-width: 1360px;
    }
    .final-main {
        max-width: 1360px;
    }
    .internal {
        max-width: 1120px;
    }
}

@media (max-width: 1760px) {
    .final-main-wrapper {
        max-width: 1160px;
    }
    .final-main {
        max-width: 1160px;
    }
    .internal {
        max-width: 920px;
    }
}

@media (max-width: 1650px) {
    .final-main-wrapper {
        max-width: 1060px;
    }
    .final-main {
        max-width: 1060px;
    }
    .internal {
        max-width: 1020px;
    }
}

@media (max-width: 1400px) {
    .final-main-wrapper {
        max-width: 960px;
    }
    .final-main {
        max-width: 960px;
        font-size: 74px;
    }
    .internal {
        max-width: 920px;
    }
    .red-square {
        width: 430px;
    }
    .internal-square {
        width: 330px;
    }
    .right-img {
        margin-right: 0;
    }
}

@media (max-width: 1180px) {
    .final-main-wrapper {
        max-width: 760px;
    }
    .final-main {
        max-width: 760px;
        font-size: 70px;
    }
    .internal {
        max-width: 720px;
    }

    .right-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 970px) {
    .final-main-wrapper {
        max-width: 660px;
    }
    .final-main {
        max-width: 660px;
        font-size: 60px;
    }
    .internal {
        max-width: 620px;
    }
    .right-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 870px) {
    .right-img {
        display: none;
    }
    .final-main-wrapper {
        max-width: 560px;
    }
    .final-main {
        max-width: 560px;
    }
    .internal {
        max-width: 420px;
    }
}

@media (max-width: 560px) {
    .final-main-wrapper {
        max-width: 460px;
    }
    .final-main {
        max-width: 460px;
    }
}