.system {
    display: none;
}

.loading {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 22px;
    color: #52052C;
    font-family: "Nokora", serif;
    font-size: 40px;
    font-weight: lighter;
}

.result-elements {
    display: block;
    margin-left: -15px;
    margin-top: -13px;
    width: 103%;
    height: 470px;
    background-color: #CF5866;
    border-radius: 0 0 0 60px;
    border: 1px solid #410222;
}

.results-row {
    margin: 20px;
    height: 300px;
}

.results-col-1, .results-col-2, .results-col-3 {
    float: left;
    width: 33.33%;
}

.results-col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-1, .result-2 {
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 100px;
    font-family: Nokora, sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.result-1 {
    background: #52052C;
    margin-top: 30px;
}

.result-2 {
    background-color: #F6DBC8;
    margin-top: 70px;
}

.result-3, .result-4 {
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 100px;
    font-family: Nokora, sans-serif;
    font-weight: 700;
    font-size: 36px;
    background-color: #F6DBC8;
}

.result-3 {
    margin-top: 30px;
}

.result-4 {
    margin-top: 70px;
}

.result-text-first {
    margin-left: 72px;
    color: #F8CFE3;
}

.result-value-first {
    margin-right: 25px;
    color: #CF5866;
}

.result-text-second {
    margin-left: 72px;
    color: #52052C;
}

.result-text {
    margin-left: 28px;
    color: #52052C;
}

.result-value {
    margin-right: 25px;
    color: #CF5866;
}


.central-image {
    margin-top: 50px;
}

.success-image {
    outline: 10px solid #CF5866;
}

.text-block {
    width: 35%;
    float: right;
    margin-top: 20px;
    font-family: Nokora, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.text-number-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-text {
    color: #F8CFE3;
}

.text-number {
    color: #CF5866;
    background-color: #F8CFE3;
    padding: 0 10px;
}

.result-value-qty {
    width: 65px;
}

@media (min-width: 2000px) {
    .result-elements {
        width: 101%;
    }
}

@media (max-width: 1120px) {
    .results-col-2 {
        display: none;
    }
    .results-col-1, .results-col-3 {
        width: 50%;
    }
    .results-col-3 {
        margin-left: 50px;
    }
}

@media (max-width: 900px) {
    .result-1, .result-2 {
        width: 320px;
        height: 80px;
    }
    .result-3, .result-4 {
        width: 300px;
        height: 80px;
    }
    .result-text-first {
        margin-left: 50px;
    }
    .result-text-second {
        margin-left: 50px;
    }
}

@media (max-width: 740px) {
    .results-col-1, .results-col-3 {
        width: 100%;
    }

    .result-1, .result-2, .result-3, .result-4 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 80px;
        border-radius: 25px 25px 25px 25px;
    }

    .result-1 {
        margin-top: 5px;
    }
    .text-block {
        width: 100%;
    }
}