@font-face {
    font-family: "Bruno Ace";
    src: url("/public/fonts/Bruno Ace Regular.ttf") format("truetype");
}

.landing-button-section {
    margin-top: 120px;
}

.button-text {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
}

.button {
    margin: 40px 80px;
    width: 226px;
    height: 45px;
}

@media (max-width: 1480px) {
    .button-text {
        font-size: 60px;
    }
    .button {
        margin: 30px 50px;
        width: 196px;
        height: 32px;
    }
}

@media (max-width: 900px) {
    .button-text {
        font-size: 45px;
    }
    .button {
        margin: 25px 40px;
        width: 166px;
        height: 22px;
    }
}

@media (max-width: 700px) {
    .landing-button-section {
        margin-top: 30px;
    }
    .button-text {
        font-size: 35px;
    }
    .button {
        margin: 15px 30px;
        width: 146px;
        height: 16px;
    }
}