.landing {
    width: 100vw;
    height: 60vw;
    background-color: #FBE7F1;
}
.landing-row {
    display: flex;
}

.landing-column-1, .landing-column-2 {
    height: 40vw;
    float: left;
}

.landing-column-1 {
    width: 50%;
    background-color: #FBE7F1;

}

.landing-column-2 {
    width: 50%;
    background-image: url('notepad.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vw;
}

.button-group-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-side-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 1130px) {
    .landing-column-1 {
        display: none;
    }
    .landing-column-2 {
        width: 100%;
    }
}