@font-face {
    font-family: "Cadeux-1";
    src: url("/public/fonts/Caudex-Regular.ttf") format("truetype");
}

.landing-header {
    height: 250px;
    background-color: #F9A8B1;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elem-1 {
    width: 12vw;
}

.elem-2, .elem-3, .elem-4 {
    width: 18vw;
}

.header-text {
    font-family: "Caudex-1", serif;
    font-weight: 200;
    font-size: 48px;
    line-height: 62px;
    text-indent: -35px;
    color: #410222;
}

.elem-3, .elem-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Nokora serif;
    font-weight: 700;
    font-size: 40px;
    color: #410222;
}

h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: 2px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.lang-1-ref, .lang-2-ref, .lang-3-ref {
    position: relative;
}

.lng-back {
    width: 90px;
    height: 48px;
    margin-left: -17px;
    margin-top: 8px;
}

.lang-1, .lang-2, .lang-3 {
    position: absolute;
    top: 2px;
}

.remove {
    transform: translateY(-300px);
}

@media (max-width: 1350px) {
    .logo {
        width: 200%;
    }
    .header-text {
        font-size: 40px;
    }
}

@media (max-width: 870px) {
    .elem-2 {
        display: none;
    }
    .flag-img-1, .flag-img-2 {
        width: 15vw;
        height: 8vw;
    }
}

@media (max-width: 570px) {
    .elem-1 {
        display: none;
    }
}

@media (max-width: 450px) {
    .elem-3 {
        display: none;
    }
}

@media (max-height: 1000px) {
    .landing-header {
        height: 210px;
    }
    .logo {
        height: 150px;
    }
}