.landing-left {
}

.levels {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-1, .level-2 {
    margin: 0 40px;
    font-family: Inter sans-serif;
    font-size: 44px;
    font-weight: 500;
}

.description {
    margin: 0 auto;
    width: 50%;
}
.descr-text {
    margin-top: 5px;
    font-family: "Nokora", serif;
    font-size: 54px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width: 2150px) {
    .descr-text {
        font-size: 54px;
        line-height: 95px;
        letter-spacing: 1px;
    }
}

@media (max-width: 1800px) {
    .description {
        width: 80%;
    }
}

@media (max-width: 1480px) {
    .description {
        width: 90%;
    }
    .descr-text {
        font-size: 44px;
        line-height: 75px;
        letter-spacing: 0;
    }
}

@media (max-height: 1000px) and (min-width: 2151px) and (max-width: 2395px) {
    .description {
        width: 90%;
    }
}