body {
    margin: 0;
    overflow-y: hidden;
}

@media (max-height: 900px) {
    body {
        transform: scaleY(99%);
        transform: translateY(-1%);
    }
}

@media (max-height: 800px) {
    body {
        overflow-y: scroll;
    }
}

@media (max-width: 800px), (max-height: 1600px) {
    body {
        overflow-y: scroll;
    }
}