.main {
    margin: auto;
    max-width: 2120px;
    height: 670px;
    background-color: #FA9293;
    position: relative;
    font-family: "Courier Prime";
    font-size: 38px;
    border: 1px solid #410222;
}

.form {
    position: absolute;
    height: 530px;
    width: 2070px;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #FA9293;
}

.on-top-form {
    display: flex;
    justify-content: start;
    height: 70px;
}

.on-top-form p {
    margin: 0 35px;
}

.bin {
    margin-top: 0;
    width: 45px;
    height: 45px;
}

.input-block {
    height: 320px;
    background-color: white;
    font-family: "Balsamiq Sans";
    font-size: 64px;
    line-height: 80px;
    color: #52052C4D;
    border: 1px solid #410222;
}

.input-text {
    margin: 0;
}

.input-form {
    margin-left: 40px;
    margin-top: 10px;
    width: 1970px;
    height: 300px;
    border: none;
    background-color: transparent;
    color: #410222;
}

.text-form {
    margin-left: 10px;
    margin-top: 10px;
    width: 97%;
    max-height: 300px;
    border: none;
    color: #410222;
    word-wrap: break-word;
}

.main-text-word:hover {
    background-color: #F6DBC8;
    cursor: pointer;
}

.input-text textarea {
    margin: 0;
    width: 100%;
    resize: none;
    overflow-block: clip;
    resize: none;
}

.input-text textarea:focus {
    outline: none;
}

.down-menu {
    position: relative;
    width: 2069px;
    height: 140px;
    background-color: #CF5866;
    border-radius: 0 0 0 60px;
    border: 1px solid #410222;
}

.chars {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 100px;
}

.chars li a {
    text-decoration: none;
    font-family: "Balsamiq Sans";
    font-size: 60px;
    color: black;
    background-color: #D9D9D9;
    padding: 10px 28px;
    border: 8px solid #410222;
    border-radius: 50%;
}

.counter {
    position: absolute;
    top: 30px;
    right: 0;
    width: 32%;
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 70px;
    color: #F8CFE3;
}

p {
    margin: 0;
    padding: 0;
}

.counter-elements {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
}

.counter-elem-1, .counter-elem-3 {
    font-family: "Nokora";
}

.digit-2 {
    padding: 5px;
}

.digit-1, .digit-3, .counter-elem-3 {
    color: #CF5866;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #F8CFE3;
}

.buttons {
    position: relative;
    width: 44%;
    float: right;
}

.buttons-wrapper {
    margin-top: 30px;
    height: 40px;
}

.button-1, .button-2 {
    display: inline;
}

.img-button-1, .img-button-2 {
    width: 400px;
    height: 76px;
}

.skip-text, .next-text {
    position: absolute;
    top: 0;
    font-family: "Courier Prime";
    font-size: 60px;
    width: 400px;
    text-align: center;
}

.skip-text {
    right: 515px;
}

.skip-text a, .next-text a {
    text-decoration: none;
    color: #410222;
}

.next-text {
    right: 120px;
}

@media (max-height: 1000px) {
    .main {
        height: 570px;
    }
    .visible {
        height: 140px;
    }
    .layer-wrapper {
        height: 100px;
    }
    .menu-item-1 {
        height: 98px;
    }
    .avatar-group {
        height: 100px;
    }
    .form {
        height: 430px;
    }
    .on-top-form {
        height: 50px;
    }
    .input-block {
        height: 240px;
    }
    .input-form {
        height: 220px;
    }
    .words li a {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

@media (max-width: 2560px) {
    .main {
        max-width: 1760px;
    }
    .form {
        max-width: 1710px;
    }
    .down-menu {
        width: 1709px;
    }
    .counter {
        right: 20px;
    }
    .buttons {
        width: 65%;
    }
    .buttons-wrapper {
        margin-left: 315px;
    }
}

@media (max-width: 2300px) {
    .main {
        max-width: 1560px;
    }
    .form {
        max-width: 1510px;
    }
    .down-menu {
        width: 1509px;
    }
    .counter {
        width: 45%;
    }
    .buttons {
        width: 70%;
    }
    .buttons-wrapper {
        margin-left: 215px;
    }
}

@media (max-width: 2000px) {
    .main {
        max-width: 1360px;
    }
    .form {
        max-width: 1310px;
    }
    .down-menu {
        width: 1309px;
    }
    .counter {
        width: 50%;
    }
    .buttons {
        width: 80%;
    }
    .buttons-wrapper {
        margin-left: 180px;
    }
}

@media (max-width: 1760px) {
    .main {
        max-width: 1160px;
    }
    .form {
        max-width: 1110px;
    }
    .down-menu {
        width: 1109px;
    }
    .buttons {
        width: 80%;
    }
    .buttons-wrapper {
        margin-left: 60px;
    }
    .input-block {
        font-size: 54px;
    }

    .skip-text {
        right: 445px;
    }

    .next-text {
        right: 50px;
    }
}

@media (max-width: 1650px) {
    .main {
        max-width: 1060px;
    }

    .form {
        max-width: 1010px;
    }

    .down-menu {
        width: 1009px;
    }

    .counter {
        width: 20%;
        font-size: 40px;
    }

    .counter-elem-2, .counter-elem-3 {
        display: none;
    }

    .buttons {
        width: 100%;
    }

    .buttons-wrapper {
        margin-left: 170px;
    }

    .chars li a {
        font-size: 38px;
        padding: 5px 15px;
    }
}

@media (max-width: 1400px) {
    .main {
        max-width: 1400px;
        display: flex;
        justify-content: center;
    }
    .form {
        max-width: 1250px;
    }
    .input-form {
        margin-left: 0;
    }
    .down-menu {
        width: 1250px;
    }
    .buttons {
        width: 80%;
    }
    .buttons-wrapper {
        margin-left: 170px;
    }
}

@media (max-width: 1340px) {
    .form {
        max-width: 1050px;
    }
    .down-menu {
        width: 100%;
    }
    .buttons {
        width: 100%;
    }
    .buttons-wrapper {
        margin-left: 200px;
    }
}

@media (max-width: 1120px) {
    .form {
        max-width: 900px;
    }
    .buttons-wrapper {
        margin-left: 60px;
    }
}

@media (max-width: 980px) {
    .form {
        max-width: 800px;
    }
    .button-1, .skip-text {
        display: none;
    }
    .buttons-wrapper {
        margin-left: 350px;
    }
}

@media (max-width: 900px) {
    .form {
        max-width: 760px;
    }
}

@media (max-width: 850px) {
    .form {
        max-width: 660px;
    }
    .buttons-wrapper {
        margin-left: 220px;
    }
}

@media (max-width: 740px) {
    .form {
        max-width: 560px;
    }
    .buttons-wrapper {
        margin-left: 120px;
    }
    .input-block {
        font-size: 44px;
    }
}

@media (max-width: 610px) {
    .form {
        max-width: 460px;
    }
    .buttons-wrapper {
        margin-left: 20px;
    }
    .counter-elem-1 {
        display: none;
    }
    .down-menu {
        display: flex;
        justify-content: center;
    }
    .input-block {
        font-size: 40px;
    }
}

@media (max-width: 520px) {
    .form {
        max-width: 360px;
    }
    .img-button-1, .img-button-2 {
        width: 250px;
        height: 46px;
    }
    .buttons-wrapper {
        margin-left: 75px;
    }
    .next-text {
        display: none;
    }
    .down-menu {
        height: 80px;
        justify-items: center;
    }
    .input-block {
        font-size: 36px;
    }
    .on-top-form p {
        display: none;
    }
    .chars {
        margin: auto;
    }
    .chars li a {
        font-size: 30px;
        padding: 2px 10px;
    }
}

@media (max-width: 400px) {
    .on-top-form, .down-menu, .chars {
        display: none;
    }
    .form {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .input-block {
        max-width: 400px;
        height: 100%;
    }
    .input-text {
        margin: 0;
    }
    .buttons-wrapper {
        margin-left: 50px;
    }
}