header {
    font-family: Nokora;
    font-size: 40px;
}

.user-name {
    font-size: 185%;
}

h1 {
    margin: 0;
    padding: 0;
}

.layer-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    z-index: 0;
    background: #F9A8B1;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.second-layer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.arrow-block {
    margin-left: 10px;
}

.arrow-end {
    width: 2500px;
}

.items-absolute-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 2120px;
}

.menu-items {
    max-width: 1820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item-1 {
    width: 160px;
    height: 120px;
    background-color: #FA9293;
}

.menu-item-2 {
    min-width: 70vw;
    text-align: center;
    justify-self: center;
}

.menu-item-3 {
    width: 100px;
}

.title {
    text-align: center;
    font-family: "Caudex";
    font-size: 48px;
    color: #410222;
    font-weight: 400;
    word-break: break-word;
}

.home-img {
    padding: 17px 40px;
}

.items-absolute-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.avatar-group {
    height: 120px;
    width: 840px;
    background-color: #CF5866;
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar-group a {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #F8CFE3;
}

.avatar-group h1 {
    display: block;
}

.avatar-img {
    padding-bottom: 10px;
    width: 60px;
    height: 60px;
}

@media (max-width: 2900px) {
    .arrow-end {
        width: 2200px;
    }

    .menu-items {
        max-width: 1620px;
    }

    .avatar-group {
        width: 640px;
    }
}

@media (max-width: 2560px) {
    header {
        font-size: 30px;
    }

    .arrow-end {
        width: 1900px;
    }

    .items-absolute-1 {
        max-width: 1760px;
    }

    .menu-items {
        max-width: 1460px;
    }

    .avatar-group {
        width: 500px;
    }

    .avatar-img {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 2300px) {
    header {
        font-size: 26px;
    }

    .arrow-end {
        width: 1700px;
    }

    .items-absolute-1 {
        max-width: 1560px;
    }

    .menu-items {
        max-width: 1260px;
    }

    .avatar-group {
        width: 400px;
    }
}

@media (max-width: 2000px) {
    .arrow-end {
        width: 1500px;
    }

    .items-absolute-1 {
        max-width: 1360px;
    }

    .menu-items {
        max-width: 1060px;
    }
}

@media (max-width: 1760px) {
    .arrow-end {
        width: 1300px;
    }

    .items-absolute-1 {
        max-width: 1160px;
    }

    .menu-items {
        max-width: 1060px;
    }
}

@media (max-width: 1650px) {
    .arrow-end {
        width: 1100px;
    }

    .items-absolute-1 {
        max-width: 1060px;
    }

    .menu-items {
        max-width: 960px;
    }
}

@media (max-width: 1400px) {
    header {
        font-size: 20px;
    }

    .title {
        font-size: 190%;
        word-wrap: break-word;
        max-width: 60%;
    }

    .arrow-end {
        width: 1050px;
    }

    .items-absolute-1 {
        max-width: 960px;
    }

    .menu-items {
        max-width: 860px;
    }

    .avatar-group {
        width: 350px;
    }

    .avatar-img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1180px) {
    .arrow-end {
        width: 850px;
    }

    .items-absolute-1 {
        max-width: 760px;
    }

    .menu-items {
        max-width: 650px;
    }

    .menu-item-2 {
        font-size: 16px;
        min-width: 60vw;
    }

    .avatar-group {
        width: 350px;
    }

}

@media (max-width: 970px) {
    .arrow-end {
        width: 720px;
    }

    .items-absolute-1 {
        left: 100px;
        max-width: 750px;
    }

    .menu-items {
        max-width: 650px;
    }

    .avatar-group {
        width: 250px;
    }

    .avatar-group a h1 {
        display: none;
    }

    .avatar-img {
        padding-left: 20px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 880px) {
    .arrow-end {
        width: 620px;
    }

    .items-absolute-1 {
        left: 100px;
        max-width: 650px;
    }

    .menu-items {
        max-width: 600px;
    }

    .avatar-group {
        width: 150px;
    }

    .avatar-group a h1 {
        display: none;
    }
}

@media (max-width: 740px) {
    .arrow-end {
        width: 500px;
    }

    .menu-item-1 {
        display: none;
    }

    .menu-item-2 {
        padding-left: 60px;
        font-size: 16px;
    }

    .menu-items {
        justify-content: center;
        height: 120px;
        margin-right: 150px;
    }

    .avatar-group {
        width: 150px;
    }

    .avatar-group a h1 {
        display: none;
    }
}

@media (max-width: 540px) {
    .menu-item-2 {
        padding-left: 0;
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    .arrow-end {
        width: 100px;
    }

    .menu-items {
        display: none;
    }
}

@media (max-height: 1000px) {
    .menu-items {
        max-height: 100px;
    }
}