.support-words {
    font-family: "Courier Prime", serif;
    font-size: 58px;
    font-weight: 400;
    color: #52052C;
    max-height: 100px;
}

.visible {
    margin: auto;
    max-width: 2120px;
    height: 100px;
    background-color: #F8CFE380;
    position: relative;
}

.visible-result {
    margin: auto;
    max-width: 2120px;
    height: 50px;
    background-color: #F8CFE380;
    position: relative;
}

.words-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.words {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-left: -30px;
}

.not-selected {
    color: #CF5866;
}

.word-input {
    text-align: center;
}

.words li {
    display: flex;
    justify-content: center;
    min-width: 580px;
    border: 12px #F9A8B1 solid;
    border-radius: 20px;
}

.words li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.word-text {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 93%;
    text-align: center;
}

.remove {
    font-size: 65%;
    width: 40%;
    color: #CF5866;
    padding-left: 4px;
}

@media (max-width: 2560px) {
    .support-words {
        font-size: 42px;
    }
    .visible, .visible-result {
        max-width: 1760px;
    }
    .words li {
        min-width: 480px;
        border: 8px #F9A8B1 solid;
        border-radius: 15px;
    }
}

@media (max-width: 2300px) {
    .support-words {
        font-size: 38px;
    }
    .visible, .visible-result {
        max-width: 1560px;
    }
    .words li {
        min-width: 380px;
        border: 7px #F9A8B1 solid;
        border-radius: 12px;
    }
}

@media (max-width: 2000px) {
    .visible, .visible-result {
        max-width: 1360px;
    }
}

@media (max-width: 1760px) {
    .support-words {
        font-size: 32px;
    }
    .visible, .visible-result {
        max-width: 1160px;
    }
    .words li {
        min-width: 300px;
        border: 6px #F9A8B1 solid;
        border-radius: 10px;
    }
}

@media (max-width: 1650px) {
    .visible, .visible-result {
        max-width: 1060px;
    }
}

@media (max-width: 1400px) {
    .visible, .visible-result {
        max-width: 1400px;
    }
}

@media (max-width: 1120px) {
    .support-words {
        font-size: 28px;
    }
    .words li {
        min-width: 220px;
        border: 8px #F9A8B1 solid;
        border-radius: 10px;
    }
}

@media (max-width: 770px) {
    .words {
        display: block;
    }
    .words li {
        width: 80%;
        margin: auto;
    }
}

@media (max-height: 1000px) {
    .words-wrapper {
        top: 40%;
    }
}

@media (max-height: 900px) {
    .words-wrapper {
        top: 35%;
    }
}